/**
 * Author: Reynaldo A. Hipolito
 * Email: rahj_1986@yahoo.com
 * Date: July 24, 2016
 * Desc: PinnacleCart Test
 */

#main_wrapper {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

#alert_wrapper {
    height: 50px;
}

#ajax_loader {
    width: 32px;
    height: 32px;
    background-image: url('../Image/loader.gif');
    margin-left: 20px;
    display: none;
}

#myForm_wrapper {
    margin-top: 20px;
}